<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear película/serie</h1>
    <form action="/movies/create" method="post" enctype="application/x-www-form-urlencoded">
        <label for="title">
            <input type="text" placeholder="Título" name="title">
        </label>
        <label for="date">
            <input type="date" name="date">
        </label>
        <label for="image">
            <input type="text" placeholder="Link de imagen" name="image">
        </label>
        <label for="rating">
            <input type="number" placeholder="Rating" name="rating" min="1" max="5">
        </label>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>