<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%=genre.name%></h2>
    <img src="<%=genre.image%>" alt="Género" width="300px">
    <div>
        <a href="/genres/edit/<%=genre.id%>"><button type="submit">Editar</button></a>
        <form action="/genres/delete/<%=genre.id%>" method="post" enctype="application/x-www-form-urlencoded">
            <button type="submit">Eliminar</button>
        </form>
    </div>
    <a href="/">Home</a>
</body>
</html>