<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar género</h1>
    <form action="/genres/edit/<%=genre.id%>" method="post" enctype="application/x-www-form-urlencoded">
        <label for="name">
            <input type="text" name="name" value="<%=genre.name%>">
        </label>
        <label for="image">
            <input type="text" name="image" value="<%=genre.image%>">
        </label>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>