<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(locals.user){ %>
        <h1>Bienvenido <%=locals.user.username%></h1>
        <ul>
            <a href="/movies"><li>Películas / Series</li></a>
            <a href="/characters"><li>Personajes</li></a>
            <a href="/genres"><li>Géneros</li></a>
            <a href="/movies/find"><li>Búsqueda</li></a>
            <a href="/auth/logout"><li>Logout</li></a>
        </ul>
    <% } else{ %>
        <h1>Hola usuario desconocido</h1>
        <ul>
            <a href="/auth/login"><li>Login / Registro</li></a>
        </ul>
    <% } %>
</body>
</html>